.post {
  padding-bottom: 20px;
  .post-title {
    font-weight: 400;
    font-size: 2.25em;
    margin: 0 0 25px;
    a {
      color: $font-color;
    }
  }
  .post-footer {
    font-size: 10px;
    letter-spacing: 1px;
    border-top: 1px solid #e1e4e6;
    text-transform: uppercase;
    padding-top: 25px;
    color: $text-color;
    line-height: 160%;
    font-weight: normal;
  }

  .post-content {
    font-size: $post-content-font-size;
    text-align: justify;
  }

  ul, ol {
    padding: 0;
    margin: 0 0 25px;
  }
  p, li {
    color: $text-color;
  }
  a {
    color: $link-color;
  }
  a:hover {
    color: $link-color-hover;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
  }
  pre {
    background-color: transparent;
    border: none;
    border-radius: 0;
  }
}

@media all and (max-width: 480px) {
  .post {
    padding-bottom: 50px;
    h1 {
      font-size: 2em;
      margin: 0 0 15px;
    }
  }
}
