$sans: "BebasNeue", "Optima", "Verdana", "Futura", sans-serif !default;
$serif: "Adelle", "Bitter", "Vollkorn", "Baskerville", serif !default;
$mono: "UbuntuMono", "Courier", monospace !default;

$base-font-weight: 400;
$base-font-size: 1em;
$base-line-height: 1.5;
$base-font-family: $serif;
$base-font-color: #32393d;
$base-background-color: #fff;

$subtitle-color: #32393d;
$title-color: #008fd5;
$text-color: #94999c;
$font-color: #32393d;
$link-color: #008fd5;
$link-color-hover: #161c1f;

$post-content-font-size: 1.2em;
